<%- include partials/header %>
<h1>ComPoSe</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle" />
    <label>Post</label>
    <textarea class="form-control" name="postContent"></textarea>
  </div>
  <button class="form-btn btn btn-primary" type="submit">Submit</button>
</form>
<%- include partials/footer %>
